*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    position: sticky;
    top: 0;
}
.navbar ul{
    display:flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family:center;
    font: size 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    padding:8px 30px;
    transition:all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px cornsilk;
}
.container{
    height:500px;
    width:100%;
    background-color:blanchedalmond;
    display:grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 80px;
    gap: 10px;
    padding: 100px;
    justify-content:space-around;

}
.item1 {
    grid-column:1/3;
    grid-row:1;
}
.item2{
    grid-column:3/4;
    grid-row:1;
}
.picture {
    border:10px solid rgb(193, 48, 48);
    border-radius:30%;
}
.picture:hover {
    scale:1.2; 
}
#color {
    color:red;
}
.container2 {
    height:500px;
    width:100%;
    background-color:rgb(93, 178, 211);
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 80px;
    gap: 10px;
    padding: 100px;
    justify-content:space-around;
    line-height:1.5;
}
.item3 {
    grid-column:1/4;
    grid-row:1;
}
.item4 {
    grid-column:4/6;
    grid-row:1;
}

#text {
    color:blueviolet;
}
.picture1{
    border-radius: 30%;
    border:10px solid rgb(201, 53, 129);
}
.picture1:hover {
    scale:1.2;
    
}